{{ form_start(form, {'action': path('edit_product_category', {'id': id}), 'method': 'POST'}) }}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="editProductCategoryLabel{{ id }}">Редактирование</h4>
    </div>
    <div class="modal-body">
        {{ form_errors(form) }}

        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">{{ form_label(form.name, 'Название') }}</span>
            {{ form_errors(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}, 'aria-describedby': 'basic-addon1'}) }}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
{{ form_end(form) }}