{% extends '@Admin/base.html.twig' %}

{% block content %}
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{{ url("show_all_products") }}">Продукты</a></li>
        <li role="presentation" class="active"><a href="{{ url("show_all_product_categories") }}">Товарные группы</a></li>
    </ul>
    <h2 class="sub-header">
        Товарные группы
        <button class="btn btn-default" data-toggle="modal" data-target="#modal-window" data-action="{{ url("add_new_product_category") }}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить
        </button>
    </h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Название</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>
                        <a href="#" data-toggle="modal" data-target="#modal-window" data-action="{{ url('edit_product_category', {'id': category.id}) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                        <a href="{{ url('delete_product_category', {'id': category.id}) }}" data-toggle="confirmation"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include '@Admin/paginator.html.twig' %}
    </div>
{% endblock %}