<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url("homepage") }}">
                Щедро &raquo; Склад
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if is_granted('ROLE_USER') %}
                    <ul class="nav navbar-nav">
                        <li role="separator" class="divider-vertical"></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-export" aria-hidden="true"></span> Фабрики<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><span class="glyphicon glyphicon-compressed" aria-hidden="true"></span> Остатки</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Приход</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-open" aria-hidden="true"></span> Расход</a></li>
                            </ul>
                        </li>
                        <li role="separator" class="divider-vertical"></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-move" aria-hidden="true"></span> РЦ<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><span class="glyphicon glyphicon-compressed" aria-hidden="true"></span> Остатки</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> Склады</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> Приход</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> Расход</a></li>
                            </ul>
                        </li>
                        <li role="separator" class="divider-vertical"></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Филиалы<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><span class="glyphicon glyphicon-compressed" aria-hidden="true"></span> Остатки</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> Склады</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> Приход</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> Расход</a></li>
                            </ul>
                        </li>
                        <li role="separator" class="divider-vertical"></li>
                    </ul>
                {% endif %}
                <ul class="nav navbar-nav navbar-right">
                    <li role="separator" class="divider-vertical"></li>
                    <li><a href="{{ url("logout") }}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Выход</a></li>
                </ul>
            {% else %}
                {% include 'login.html.twig' %}
            {% endif %}
            {#
            <ul class="nav navbar-nav navbar-center">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Панель администратора <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url("show_all_clients") }}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Клиенты</a></li>
                        <li><a href="{{ url("show_all_products") }}"><span class="glyphicon glyphicon-barcode" aria-hidden="true"></span> Продукты</a></li>
                        <li><a href="{{ url("show_all_product_categories") }}"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> Категории</a></li>
                        <li><a href="{{ url("show_all_countries") }}"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> География</a></li>
                        <li role="separator" class="divider"></li>
                    </ul>
                </li>
            </ul>
            #}
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>