<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><a href="#"><span class="glyphicon glyphicon-retweet" aria-hidden="true"></span> Товарооборот</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li{% if app.request.get('_route') == 'show_factories' %} class="active"{% endif %}>
            <a href="{{ url("show_factories") }}"><span class="glyphicon glyphicon-export" aria-hidden="true"></span> Комбинаты</a>
        </li>
        <li{% if app.request.get('_route') == 'show_distribution_centers' %} class="active"{% endif %}>
            <a href="{{ url("show_distribution_centers") }}"><span class="glyphicon glyphicon-move" aria-hidden="true"></span> РЦ</a>
        </li>
        <li{% if app.request.get('_route') == 'show_branches' or app.request.get('_route') == 'show_branches_warehouses' %} class="active"{% endif %}>
            <a href="{{ url("show_branches") }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Филиалы</a>
        </li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="#"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Документация</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li{% if app.request.get('_route') == 'show_clients' %} class="active"{% endif %}>
            <a href="{{ url("show_clients") }}"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Клиенты</a>
        </li>
        <li{% if app.request.get('_route') == 'show_products' or app.request.get('_route') == 'show_products_categories' %} class="active"{% endif %}>
            <a href="{{ url("show_products") }}"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Продукция</a>
        </li>
        <li{% if app.request.get('_route') == 'show_cities' or app.request.get('_route') == 'show_countries' %} class="active"{% endif %}>
            <a href="{{ url("show_cities") }}"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> География</a>
        </li>
        <li{% if app.request.get('_route') == 'show_carriers' or app.request.get('_route') == 'show_drivers' or app.request.get('_route') == 'show_vehicles' %} class="active"{% endif %}>
            <a href="{{ url("show_carriers") }}"><span class="glyphicon glyphicon-plane" aria-hidden="true"></span> Транспорт</a>
        </li>
        <li{% if app.request.get('_route') == 'show_users' or app.request.get('_route') == 'show_users_groups' %} class="active"{% endif %}>
            <a href="{{ url("show_users") }}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Сотрудники</a>
        </li>
    </ul>
    <ul class="nav nav-sidebar">
        <li{% if app.request.get('_route') == 'show_proportions' or app.request.get('_route') == 'show_units' or app.request.get('_route') == 'show_system_settings' %} class="active"{% endif %}>
            <a href="{{ url("show_proportions") }}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Настройки</a>
        </li>
        <li>
            <a href="{{ url("logout") }}"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Выход</a>
        </li>
    </ul>
</div>