{% extends '@Admin/base.html.twig' %}

{% block content %}
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{{ url("show_all_distribution_centers") }}">РЦ</a></li>
        <li role="presentation" class="active"><a href="{{ url("show_all_distribution_centers_warehouses") }}">Склады</a></li>
    </ul>
    <h2 class="sub-header">
        РЦ &raquo; Склады
        <button class="btn btn-default" data-toggle="modal" data-target="#modal-window" data-action="{{ url("add_new_distribution_centers_warehouse") }}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить
        </button>
    </h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Склад</th>
                <th>РЦ</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for warehouse in warehouses %}
                <tr>
                    <td>{{ warehouse.name }}</td>
                    <td>{{ warehouse.department.name }}</td>
                    <td>
                        <a title="Добавить камеру" href="#" data-toggle="modal" data-target="#modal-window" data-action="{{ url('add_new_warehouses_cell', {'warehouseId': warehouse.id}) }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                        <a title="Камеры" href="#" data-action="{{ url('show_all_cells_of_warehouse', {'warehouseId': warehouse.id}) }}" data-toggle="collapse" data-target="#warehouse{{ warehouse.id }}Cells" aria-expanded="false" aria-controls="warehouse{{ warehouse.id }}Cells"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span></a>
                        <a title="Редактировать" href="#" data-toggle="modal" data-target="#modal-window" data-action="{{ url('edit_distribution_centers_warehouse', {'id': warehouse.id}) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                        <a href="{{ url('delete_distribution_centers_warehouse', {'id': warehouse.id }) }}" data-toggle="confirmation"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="collapse" id="warehouse{{ warehouse.id }}Cells"></div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include '@Admin/paginator.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $('[data-toggle="collapse"]').click(function(){
                var targetId = $(this).data("target");

                if ($(this).attr("aria-expanded") == 'true') {
                    $(targetId).html('');
                } else {
                    $.ajax({
                        url: $(this).data("action"),
                        beforeSend: function() {
                            $(targetId).html('');
                        },
                        success: function(response) {
                            $(targetId).html(response);
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}