{% extends 'admin/base.html.twig' %}

{% block content %}
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="{{ url("show_all_products") }}">Продукты</a></li>
        <li role="presentation"><a href="{{ url("show_all_product_categories") }}">Товарные группы</a></li>
    </ul>
    <h2 class="sub-header">
        Продукция
        <button class="btn btn-default" data-toggle="modal" data-target="#newProduct">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить
        </button>
    </h2>
    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Название</th>
                <th>Категория</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.category.name }}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="modal fade" id="newProduct" tabindex="-1" role="dialog" aria-labelledby="newProductLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                {{ render(controller('AppBundle:Product:new')) }}
            </div>
        </div>
    </div>
{% endblock %}