{% extends '@Admin/base.html.twig' %}

{% block content %}
    <h2 class="sub-header">
        Филиалы
        <button class="btn btn-default" data-toggle="modal" data-target="#modal-window" data-action="{{ url("add_new_branch") }}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить
        </button>
    </h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Название</th>
                <th>Город</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for branch in branches %}
                <tr>
                    <td>{{ branch.name }}</td>
                    <td>{{ branch.city.name }}</td>
                    <td>
                        <a href="#" data-toggle="popover" data-placement="left" data-title="Описание" data-trigger="focus" data-content="{{ branch.description }}"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
                        <a href="#" data-toggle="popover" data-placement="left" data-title="Адрес" data-trigger="focus" data-content="{{ branch.address }}"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
                        <a href="#" data-toggle="modal" data-target="#modal-window" data-action="{{ url('edit_branch', {'id': branch.id}) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                        <a href="{{ url('delete_branch', {'id': branch.id }) }}" data-toggle="confirmation"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include '@Admin/paginator.html.twig' %}
    </div>
{% endblock %}