{{ form_start(form) }}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modal-window-label">{{ 'Add/Edit'|trans }}</h4>
    </div>
    <div class="modal-body">
        {{ form_errors(form) }}
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">{{ form_label(form.username, 'Username'|trans) }}</span>
            {{ form_errors(form.username) }}
            {{ form_widget(form.username, {'attr': {'class': 'form-control'}, 'aria-describedby': 'basic-addon1'}) }}
        </div>
        <br><br>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">{{ form_label(form.password, 'Password'|trans) }}</span>
            {{ form_errors(form.password) }}
            {{ form_widget(form.password, {'attr': {'class': 'form-control'}, 'aria-describedby': 'basic-addon1'}) }}
        </div>
        <br><br>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">{{ form_label(form.fullName, 'Fullname'|trans) }}</span>
            {{ form_errors(form.fullName) }}
            {{ form_widget(form.fullName, {'attr': {'class': 'form-control'}, 'aria-describedby': 'basic-addon1'}) }}
        </div>
        <br><br>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">{{ form_label(form.phone, 'Phone'|trans) }}</span>
            {{ form_errors(form.phone) }}
            {{ form_widget(form.phone, {'attr': {'class': 'form-control'}, 'aria-describedby': 'basic-addon1'}) }}
        </div>
        <br><br>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">{{ form_label(form.email, 'Email'|trans) }}</span>
            {{ form_errors(form.email) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}, 'aria-describedby': 'basic-addon1'}) }}
        </div>
        <br><br>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">{{ form_label(form.groups, 'Group'|trans) }}</span>
            {{ form_errors(form.groups) }}
            {{ form_widget(form.groups, {'attr': {'class': 'form-control'}, 'aria-describedby': 'basic-addon1'}) }}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
{{ form_end(form) }}